####################################
# Python
####################################

__pycache__/
*.py[cod]
*$py.class

####################################
# Virtual Environments
####################################

venv/
.venv/
env/

####################################
# Jupyter
####################################

.ipynb_checkpoints/

####################################
# VS Code
####################################

.vscode/

####################################
# Streamlit
####################################

.streamlit/secrets.toml

####################################
# Environment Variables
####################################

.env

####################################
# MLflow
####################################

mlruns/

####################################
# Model Artifacts
####################################

*.pkl
*.joblib
*.model
*.h5

####################################
# Logs
####################################

logs/
*.log

####################################
# OS Files
####################################

.DS_Store
Thumbs.db

####################################
# Data Files
####################################

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

####################################
# Drift Reports
####################################

*.html

####################################
# Power BI
####################################

*.pbix

####################################
# Testing
####################################

.pytest_cache/

####################################
# Build
####################################

build/
dist/
*.egg-info/

####################################
# Docker
####################################

docker-data/