pandas
numpy
scikit-learn
xgboost
lightgbm
mlflow
fastapi
uvicorn
streamlit
shap
matplotlib
seaborn
joblib
pyspark
delta-spark
python-multipart
requests
evidently
pytest
python-jose
passlib[bcrypt]
transformers
torch
plotly
python-dotenv
sqlalchemy
psycopg2-binary